html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color:#696969;

}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	min-height: 100%;
	background-color: gray;
	
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;

	left: 50%;

	margin-top: 1em;
	color: white;
}

img {
	
	height: 11.391em;
	width: 11.391em;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
   	display: flex;

}
ul {	
	font-size: 1.5em;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;

	left: 50%;

	margin-top: 1em;
	color: white;
	padding-bottom: 1em;


}
ul li {
	padding: 0.667em;
}
p {
	margin:1.5em;
	font-size: 1.5em;
	text-indent:1em;  
    display: flex;
    text-align: justify;
}
.header-back {
	display: flex;
  	height: 5.063em;
}
.paragraph {

	display: flex;
    background-color: #353937;
}
.list {

  display: flex;
  background: #3F4040;
}
.image-class {
	height: 11.391em;
	padding: 3.375em;
    background-color: #141414;
}

.paragraph-header {
	margin-top: 0px;
	text-align: center;
	padding-top: 1em;

	background-color:#353937;
	color: darkgray;
	display: flex;

}
.creator {
	background-color: #3F4040;
	margin-top: 0px;
	padding-top: 3.375em;
	padding-bottom: 0.198em;
	text-indent:2em;  
	color: black;
	display: flex;
	
}
.paragraph-header-2 {
	margin-top: 0px;
	text-align: center;
	color: darkgray;
	background-color:#3F4040;
	padding-top: 1em;
}
@media only screen and (max-width: 462px) {
    body {
        font-size: 1.5em;
    }
    .list {
    	text-align: center;
    }
    li{	display: inline-block;
    	margin: 2em;
    	padding-left: 1em;
    	vertical-align: top;
    }
    .creator {
		background-color: #3F4040;
		margin-top: 0px;
		padding-top: 1.5em;
		padding-bottom: 2.25px;
		text-indent:2.25em; 
		text-align: center;
		color: black;
	}
}

