html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color:#696969;

}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	min-height: 100%;
	background-color: gray;
	display: flex;
}
li {
	margin:1em;
}
h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;

	left: 50%;

	margin-top: 1em;
	color: white;
}

img {
	
	height: 10em;
	width: 10em;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
   	display: flex;

}
li {
	margin:1.5em;
	font-size: 1.5em;
}
p {
	margin:1.5em;
	font-size: 1.2em;
	text-indent:1em;  
    display: flex;
    text-align: justify;
}
.header-back {
	display: flex;
  	height: 5em;
}
.paragraph {

	display: flex;
    background-color: #353937;
}
.list {

  display: flex;
  background: #3F4040;
}
.image-class {
	height: 10em;
	padding: 3em;
    background-color: #141414;
}

.paragraph-header {
	margin-top: 0px;
	text-align: center;
	padding-top: 1em;

	background-color:#353937;
	color: darkgray;


}
.creator {
	background-color: #3F4040;
	margin-top: 0px;
	padding-top: 3em;
	padding-bottom: 2px;
	text-indent:2em;  
	color: black;
	
}
.paragraph-header-2 {
	margin-top: 0px;
	text-align: center;
	color: darkgray;
	background-color:#3F4040;
	padding-top: 1em;
}
@media only screen and (max-width: 500px) {
    body {
        font-size: 15px;
    }
}

